@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Averta';
    src : url('/fonts/Averta-Regular.otf')
  }
  @font-face {
    font-family: 'AvertaBold';
    src : url('/fonts/Averta-ExtraBold.otf')
  }
}